astroid==4.0.3
cfgv==3.5.0
colorama==0.4.6
dill==0.4.0
distlib==0.4.0
filelock==3.20.3
greenlet==3.3.0
identify==2.6.15
isort==7.0.0
mccabe==0.7.0
nodeenv==1.10.0
platformdirs==4.5.1
pre_commit==4.5.1
pylint==4.0.4
PyYAML==6.0.3
SQLAlchemy==2.0.45
tomlkit==0.13.3
typing_extensions==4.15.0
virtualenv==20.36.1
